*.class

# sublime metadata files
**.DS_Store**

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans outputs
dist/
# build/
**/build/classes/
**/build/empty/
**/build/generated-sources/
**/build/web/
**/build/generated/
built-jar.properties
built-clean.properties

# netbeans metadata
**/build/test/classes/.netbeans_*
**/nbproject/private/

# log related
**/logs/**
**/build/**/log4j*